// Fonts
@font-face {
    font-family: 'HanaleiFill-Regular';
    src: url('../fonts/HanaleiFill-Regular.woff') format("truetype");
}

@font-face {
    font-family: 'playfairdisplay';
    src: url('../fonts/playfairdisplay-variablefont_wght-webfont.woff') format("truetype");
}